# ignore vscode setting file
.vscode/

# ignore idea setting file
.idea/
__pycache__/

# ignore private profiles
config.py

# ignore migrations files
migrations/

# ignore coverage file
.coverage
htmlcov/