app.uestc-msc.com {
    handle /api/static/* {
        root * /etc/uestcmsc_webapp/backend/.static
        file_server
    }
    handle /api/* {
        reverse_proxy localhost:8000
    }
    handle / {
        root * /etc/uestcmsc_webapp/frontend
        file_server
    }
}