example.com {
    handle /api/static/* {
        uri strip_prefix /api/static
        root * /home/lyh543/git/uestcmsc/backend/.static
        file_server
    }

    handle /api/* {
        reverse_proxy localhost:8000
    }
    
    handle {
        root * /home/lyh543/git/uestcmsc/frontend
        try_files {path} /index.html
        file_server
    }
}
